extends layout

block script
	script(src="https://cdn.tiny.cloud/1/jacjw3m3b4xvz0x2gjtrlkmh0asszi8d1rzzfs62nj8733j1/tinymce/5/tinymce.min.js" referrerpolicy="origin")
	script.
		tinymce.init({
			selector:  '#body',
			menubar: false,
			statusbar: false,
			readonly: 1
		})
			tinymce.init({
			selector:  '.currBody',
			menubar: false,
			statusbar: false,
			readonly: 1
		})

block content
	div(class="body_content")
		div(class="banner_edit")
			h1= book.title
			div(class="textedit")
				h5 Written by #{author}
				label Genre: #{genre.genre}
				p Description: #{book.description}
		
		div(class="modify_container")
			h3 Page Details: 
			div(class="label_container")
				label Chapter Name:
				input(type="text", name='chapterName', value=`${page.chapterName}`, disabled, class="title_input")
			
				label Page Number:
				input(type="number", name='pageNumber', value=`${page.pageNumber}`, disabled, class="title_input")
			
				label Content:
				textarea#body=page.body
		if user 	
			if user.userName == book.authorName
				each hist, i in history
					form(action=`/books/page/${page.id}`, method='POST')
						div(class="modify_container")
							div(class="label_container")
								input(type="text", name="chapterName1", style="display:none;", value=`${page.chapterName}`)
							
								input(type="number", name="pageNumber1", style="display:none;", value=`${page.pageNumber}`)
							
								label Your content update:
								textarea.currBody(name='currBody')=hist.currBody
							
								input(type="number", name="updater", style="display:none;", value=`${hist.userID}`)
								
								button#Approve(type="submit", class="approve_btn") Approve
				div(class="banner_edit")
					p More Option
					a(href=`/books/page/modify/${page.id}`) 
						button(type="button", class="modify_btn") Edit Page

					a(href='#', id="delete", data-id=`${page.id}`, data-bookid=`${book.id}`) 
						button(type="button", class="modify_btn") Delete
						
					a(href=`/books/${book.id}`)
						button(type="button", class="modify_btn") Cancel
			else
				a(href=`/books/${book.id}`) Back
		else
			a(href=`/books/${book.id}`) Back
		script(src='/javascripts/delete_page.js') 